@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IBMPlexSans.eot?") format("eot"), url("../fonts/IBMPlexSans.woff2") format("woff2"), url("../fonts/IBMPlexSans.woff") format("woff"), url("../fonts/IBMPlexSans.ttf") format("truetype"), url("../fonts/IBMPlexSans.svg#IBMPlexSans") format("svg");
}

@font-face {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Iceland.eot?") format("eot"), url("../fonts/Iceland.woff2") format("woff2"), url("../fonts/Iceland.woff") format("woff"), url("../fonts/Iceland.ttf") format("truetype"), url("../fonts/Iceland.svg#Iceland") format("svg");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Poppins.eot?") format("eot"), url("../fonts/Poppins.woff2") format("woff2"), url("../fonts/Poppins.woff") format("woff"), url("../fonts/Poppins.ttf") format("truetype"), url("../fonts/Poppins.svg#Poppins") format("svg");
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231D2228' fill-opacity='0.2'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a,
p,
label,
input,
div {
  font-family: "IBMPlexSans", sans-serif;
}

a:hover {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 552px;
  bottom: 0px;
  z-index: 1;
  width: 35%;
  height: 100%;
  color: #1D2228;
}

.sidebar .main-info * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}

.sidebar .main-info *.bs {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.sidebar-photo {
  background-color: #E85253;
}

.sidebar-cover {
  background-color: #FFFFFF;
  padding: 5%;
}

.topbar {
  position: static;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 48px;
  background: red;
}

.nameBar {
  padding-right: 10px;
}

.main-content {
  position: relative;
  overflow: visible;
  width: 60%;
  max-width: 1200px;
  margin-left: 35%;
  float: none;
  clear: none;
}

.main-content:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.79, 0, 0.05, 0.83);
  transition: all 0.8s cubic-bezier(0.79, 0, 0.05, 0.83);
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231D2228' fill-opacity='0.2'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.main-content.active:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.main-content-list {
  position: relative;
  overflow: visible;
  width: 60%;
  max-width: 1200px;
  margin-top: 88px;
  float: none;
  clear: none;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif !important;
  text-transform: uppercase;
}

.heading {
  font-size: 38px;
}

.text-white {
  color: #1D2228;
}

.highlight {
  color: #FFFFFF;
  background-color: #E85253;
  padding: 2px 12px;
  line-height: 1.5;
}

.form-control {
  border: none;
  background-color: #e8ebef !important;
}

.btn {
  border-radius: 0px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn-dark-faded {
  font-weight: 300;
  font-family: "IBMPlexSans", sans-serif !important;
  /*text-transform: uppercase;*/
  background-color: rgba(0, 0, 0, 0.07);
  color: black;
}

.btn-color {
  color: #FFFFFF;
  background-color: #E85253;
  font-weight: 500;
}

.number-text {
  color: #E85253;
  font-weight: bold;
  font-family: "Iceland", sans-serif;
}

.social:hover a {
  color: #1D2228;
}

.social a {
  color: #1D2228;
  font-size: 28px;
  margin-right: 12px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.social a:hover {
  color: #E85253;
}

.nav-social {
  padding-left: 1rem;
}

.nav-social:hover a {
  color: #1D2228;
}

.nav-social a {
  color: #1D2228;
  font-size: 24px;
  margin-right: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-social a:hover {
  color: #E85253;
}

.navbar-color {
  background-color: #FFFFFF;
}

.navbar-color a {
  color: #1D2228;
  font-weight: bold;
}

section {
  padding: 7% 7%;
}

section .heading {
  margin-bottom: 30px;
}

section#about, section#experience {
  background-color: #1D2228;
  color: #FFFFFF;
}

section#projects, section#contact, section#list {
  background-color: #FFFFFF;
}

.contact-text {
  color: #E85253;
}

.progress {
  height: 0.6rem;
  background-color: #fff;
}

.progress .bg-blue {
  background-color: #2e96a5;
}

.card {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #FFFFFF;
  color: #1D2228;
}

.card:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cardHorizontal {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #FFFFFF;
  color: #1D2228;
}

.card-img {
  border-radius: 0;
}

.separator-short {
  width: 10%;
  display: block;
  overflow: hidden;
  height: 2px;
  background-color: #E85253;
  margin: 0 auto;
}

.btn-outline-custom {
  color: #1D2228;
  border-color: #1D2228;
}

.btn-outline-custom:hover {
  color: #1D2228;
  background-color: #E85253;
  border-color: #E85253;
}

.btn-outline-custom.focus, .btn-outline-custom:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-custom.active, .btn-outline-custom:active {
  color: #1D2228;
  background-color: #1D2228;
  border-color: #1D2228;
}

.show > .btn-outline-black.dropdown-toggle {
  color: #1D2228;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

#timeline {
  width: 100%;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #FFFFFF;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  top: 0;
  position: absolute;
}

#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
  text-align: right;
}

#timeline .timeline-item .timeline-icon {
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -10px;
  border-radius: 50%;
}

#timeline .timeline-item .timeline-content {
  width: 45%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#timeline .timeline-item .timeline-content .date {
  display: inline-block;
  color: #E85253;
  border: 1px solid #E85253;
  padding: 8px;
  border-radius: 3px;
}

#timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

.skill {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .sidebar {
    position: static;
    width: 100%;
    padding-left: 65px;
  }
  .main-content {
    width: 100%;
    margin-left: 0%;
  }
  .main-content-list {
    width: 100%;
    margin-left: 0%;
  }
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
    text-align: left;
  }
  #timeline .timeline-item .timeline-content:before,
  #timeline .timeline-item .timeline-content .right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */