@import 'mixins';

@include font-face(IBMPlexSans, "../fonts/IBMPlexSans", 400, normal);
@include font-face(Iceland, "../fonts/Iceland", 400, normal);
@include font-face(Poppins, "../fonts/Poppins", 700, normal);

$mainFont: 'IBMPlexSans', sans-serif;
$titleFont: 'Poppins', serif;
$numberFont: 'Iceland', sans-serif;


$fontColor:#282A2B;
$fontColorAlt: #FFFFFF;
$cardColor:#FFFFFF;
$bgColor: #282A2B;
$bgColorAlt: #F9F9F9;
$accentColor: #E85253;

$tempColor: #a6a6a6;

$borderRadius: 0.8rem;
$sectionSpace: 5%;

// $firstColor:#1D2228;
// $secondColor:#FFFFFF;
// $thirdColor: #E85253;
// $tempColor: #a6a6a6;

//other nice purple #9999FF
//nice blue #31B2D2
//current red E85253
//mint 09BC8A
//baby blue 66C3E8
//hot pink D81159
//purple 6369D1
//greyish 2B2D42
//yellowish E8BF3A
//redish FF6B6B


html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body  {
    background-color: $bgColor;
}
a,
p,
label,
input,
div {
    font-family: $mainFont;
}

a:hover {
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 552px;
    bottom: 0px;
    z-index: 1;
    width: 35%;
    height: 100%;
    color: $fontColor;

    .main-info * {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0;
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);

        &.bs {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.sidebar-photo {
    background-color: $accentColor;
}

.sidebar-cover {
    color: $fontColorAlt;
}

.topbar {
    position: static;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 48px;
    background: red;
}

.nameBar {
    padding-right: 10px;
}

.main-content {
    position: relative;
    overflow: visible;
    width: 60%;
    max-width: 1200px;
    margin-left: 35%;
    float: none;
    clear: none;
}

.main-content-list {
    position: relative;
    overflow: visible;
    max-width: 1200px;
    margin-top: 88px;
    float: none;
    clear: none;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont !important;
    text-transform: uppercase;
}

.heading {
    font-size: 38px;
}

.text-white {
    color: $fontColor;
}

.highlight {
    color: $cardColor;
    background-color: $accentColor;
    padding: 2px 12px;
    line-height: 1.5;
}

.form-control {
    border: none;
    background-color: #e8ebef !important;
}

.btn {
    border-radius: 0px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-dark-faded {
    font-weight: 300;
    font-family: $mainFont !important;

    /*text-transform: uppercase;*/
    background-color: rgba(0, 0, 0, 0.07);
    color: black;
}

.btn-color {
    color: $cardColor;
    background-color: $accentColor;
    font-weight: 500;
    border-radius: $borderRadius;
}

.number-text {
    color: $accentColor;
    font-weight: bold;
    font-family: $numberFont;
}

.social {
    &:hover a {
        color: $fontColorAlt;
    }

    a {
        color: $fontColorAlt;
        font-size: 28px;
        margin-right: 12px;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;

        &:hover {
            color: $accentColor;
        }
    }
}

.nav-social {
    &:hover a {
        color: $fontColorAlt;
    }

    a {
        color: $fontColorAlt;
        font-size: 18px;
        padding: 0 0.5rem;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;

        &:hover {
            color: $accentColor;
        }
    }
}

.navbar-color {
    z-index: 9000;
    background: rgba($bgColor,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    
    a {
        color: $cardColor;
    }
}

section {
    .heading {
        margin-bottom: 30px;
    }

    &:last-child{
        margin-bottom: $sectionSpace;
    }
    
    &#about,
    &#projects,
    &#experience,
    &#contact,
    &#list,
    &#single {
        margin-top: $sectionSpace;
        background-color: $bgColorAlt;
        border-radius: $borderRadius;
        padding: 4rem;
    }
}

.contact-text {
    color: $accentColor;
}

.card {
    border-radius: $borderRadius;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: $cardColor;
    color: $fontColor;
    
    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    img {
        border-radius: $borderRadius $borderRadius 0 0;
    }
}

.cardHorizontal {
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: $cardColor;
    color: $fontColor;
}

.card-img {
    border-radius: 0;
}

.separator-short {
    width: 10%;
    display: block;
    overflow: hidden;
    height: 2px;
    background-color: $accentColor;
    margin: 0 auto;
}

.btn-outline-custom {
    color: $fontColor;
    border-color: $fontColor;

    &:hover {
        color: $fontColor;
        background-color: $accentColor;
        border-color: $accentColor;
    }

    &.focus,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    }

    &.active,
    &:active {
        color: $fontColor;
        background-color: $fontColor;
        border-color: $fontColor;
    }
}

.show > .btn-outline-black.dropdown-toggle {
    color: $fontColor;
    background-color: $cardColor;
    border-color: $cardColor;
}

#timeline {
    width: 100%;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:before {
        content: "";
        width: 3px;
        height: 100%;
        background: $accentColor;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        top: 0;
        position: absolute;
    }

    &:after {
        content: "";
        clear: both;
        display: table;
        width: 100%;
    }

    .timeline-item {
        margin-bottom: 50px;
        position: relative;
        text-align: right;

        .timeline-icon {
            background: $accentColor;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 50%;
            overflow: hidden;
            margin-left: -10px;
            border-radius: 50%;
        }

        .timeline-content {
            width: 45%;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;

            .date {
                display: inline-block;
                color: $accentColor;
                border: 1px solid $accentColor;
                padding: 8px;
                border-radius: 3px;
            }

            &.right {
                float: right;
                text-align: left;
            }
        }
    }
}

.skill {
    margin-bottom: 20px;
}

@media (max-width: 991.98px) {
    .sidebar {
        position: static;
        width: 100%;
        padding-left: 65px;
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active
    {
        border: none;
        outline: none;
    }
    .navbar-toggler i {
        color: $cardColor;
    }

    &#single {
        padding: 3rem !important;
    }

    .main-content {
        width: 100%;
        margin-left: 0%;
    }

    .main-content-list {
        width: 100%;
        margin-left: 0%;
    }

    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;

        &:before {
            left: 0;
        }

        .timeline-item {
            .timeline-content {
                width: 90%;
                float: right;
                text-align: left;

                &:before,
                .right:before {
                    left: 10%;
                    margin-left: -6px;
                    border-left: 0;
                    border-right: 7px solid #ee4d4d;
                }
            }

            .timeline-icon {
                left: 0;
            }
        }
    }
}
