@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IBMPlexSans.eot?") format("eot"), url("../fonts/IBMPlexSans.woff2") format("woff2"), url("../fonts/IBMPlexSans.woff") format("woff"), url("../fonts/IBMPlexSans.ttf") format("truetype"), url("../fonts/IBMPlexSans.svg#IBMPlexSans") format("svg");
}

@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/IBMPlexSansBold.eot?") format("eot"), url("../fonts/IBMPlexSansBold.woff2") format("woff2"), url("../fonts/IBMPlexSansBold.woff") format("woff"), url("../fonts/IBMPlexSansBold.ttf") format("truetype"), url("../fonts/IBMPlexSansBold.svg#IBMPlexSans") format("svg");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Poppins.eot?") format("eot"), url("../fonts/Poppins.woff2") format("woff2"), url("../fonts/Poppins.woff") format("woff"), url("../fonts/Poppins.ttf") format("truetype"), url("../fonts/Poppins.svg#Poppins") format("svg");
}

@font-face {
  font-family: "OrkneyRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OrkneyRegular.eot?") format("eot"), url("../fonts/OrkneyRegular.woff2") format("woff2"), url("../fonts/OrkneyRegular.woff") format("woff"), url("../fonts/OrkneyRegular.ttf") format("truetype"), url("../fonts/OrkneyRegular.svg#OrkneyRegular") format("svg");
}

@font-face {
  font-family: "ManropeBold";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ManropeBold.eot?") format("eot"), url("../fonts/ManropeBold.woff2") format("woff2"), url("../fonts/ManropeBold.woff") format("woff"), url("../fonts/ManropeBold.ttf") format("truetype"), url("../fonts/ManropeBold.svg#ManropeBold") format("svg");
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: #FDFDFD;
  color: #3C3C3B;
}

a,
p,
label,
input,
div {
  font-family: "IBMPlexSans", sans-serif;
}

a:hover {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 35%;
  bottom: 0px;
  z-index: 1;
  width: 35%;
  height: 100%;
  color: #FDFDFD;
}

.sidebar .main-info * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}

.sidebar .main-info *.bs {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.sidebar-photo {
  background-color: #48E4B7;
}

.sidebar-cover {
  color: #3C3C3B;
}

.main-content {
  position: relative;
  overflow: visible;
  width: 60%;
  max-width: 1200px;
  margin-left: 35%;
  float: none;
  clear: none;
}

.main-content-list {
  position: relative;
  overflow: visible;
  max-width: 1200px;
  margin-top: 88px;
  float: none;
  clear: none;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ManropeBold", serif !important;
  text-transform: uppercase;
}

.heading {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.2rem !important;
}

.text-white {
  color: #FDFDFD;
}

.highlight {
  color: #FDFDFD;
  background-color: #48E4B7;
  border-radius: 0rem;
  padding: 2px 12px;
  line-height: 1.5;
}

.form-control {
  border: none;
  background-color: #e8ebef !important;
}

.btn {
  border-radius: 0px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn-dark-faded {
  font-weight: 300;
  font-family: "IBMPlexSans", sans-serif !important;
  /*text-transform: uppercase;*/
  background-color: rgba(0, 0, 0, 0.07);
  color: black;
}

.btn-color {
  color: #FDFDFD;
  background-color: #48E4B7;
  font-weight: 500;
  border-radius: 0rem;
}

.number-text {
  font-weight: bold;
  font-family: "ManropeBold", sans-serif;
}

.social:hover a {
  color: #3C3C3B;
}

.social a {
  color: #3C3C3B;
  font-size: 28px;
  margin-right: 12px;
}

.social a:hover {
  color: #48E4B7;
}

.navbarSocial:hover a {
  color: #3C3C3B;
}

.navbarSocial a {
  font-size: 18px;
  padding: 0 0.5rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.navbarSocial a:hover {
  color: #48E4B7;
}

.navbarColor {
  z-index: 9000;
  background: rgba(253, 253, 253, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
}

.navbarColor a {
  color: #3C3C3B !important;
}

section .heading {
  margin-bottom: 2rem;
}

section:last-child {
  margin-bottom: 5%;
  margin-top: 5%;
  background-color: #EFEFEF;
  border-radius: 0rem;
  padding: 4rem;
}

section#about {
  margin-top: 5%;
  background-color: #EFEFEF;
  border-radius: 0rem;
  padding: 4rem;
}

section#about .number-text {
  color: #48E4B7;
}

section#about a {
  color: #3C3C3B;
}

section#about a:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #48E4B7;
}

section#projects {
  margin-top: 5%;
  background-color: #EFEFEF;
  border-radius: 0rem;
  padding: 4rem;
}

section#projects .number-text {
  color: #E84855;
}

section#projects .btn-color {
  color: #FDFDFD;
  background-color: #E84855;
  border: 2px #E84855 solid;
}

section#projects .btn-color:hover {
  color: #E84855;
  background: none;
}

section#projects .separator-short {
  background-color: #E84855;
}

section#experience {
  margin-top: 5%;
  background-color: #EFEFEF;
  border-radius: 0rem;
  padding: 4rem;
}

section#experience .number-text {
  color: #FFC857;
}

section#experience .btn-color {
  color: #FDFDFD;
  background-color: #FFC857;
  border: 2px #FFC857 solid;
}

section#experience .btn-color:hover {
  color: #FFC857;
  background: none;
}

section#experience .separator-short {
  background-color: #FFC857;
}

section#skills {
  margin-top: 5%;
  background-color: #EFEFEF;
  border-radius: 0rem;
  padding: 4rem;
}

section#skills .number-text {
  color: #A14EBF;
}

section#contact, section#list {
  margin-top: 5%;
  background-color: #EFEFEF;
  border-radius: 0rem;
  padding: 4rem;
}

section#single {
  margin-top: 5%;
  background-color: #EFEFEF;
  border-radius: 0rem;
  padding: 5rem;
}

.contact-text {
  color: #48E4B7;
}

.card {
  border-radius: 0rem;
  background-color: #FDFDFD;
  color: #3C3C3B;
  border: none;
}

.card img {
  border-radius: 0rem 0rem 0 0;
}

.cardHorizontal {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #FDFDFD;
  color: #FDFDFD;
}

.card-img {
  border-radius: 0;
}

.separator-short {
  width: 10%;
  display: block;
  overflow: hidden;
  height: 2px;
  margin: 0 auto;
}

.btn-outline-custom {
  color: #FDFDFD;
  border-color: #FDFDFD;
}

.btn-outline-custom:hover {
  color: #FDFDFD;
  background-color: #48E4B7;
  border-color: #48E4B7;
}

.btn-outline-custom.focus, .btn-outline-custom:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-custom.active, .btn-outline-custom:active {
  color: #FDFDFD;
  background-color: #FDFDFD;
  border-color: #FDFDFD;
}

.show > .btn-outline-black.dropdown-toggle {
  color: #FDFDFD;
  background-color: #FDFDFD;
  border-color: #FDFDFD;
}

#timeline {
  width: 100%;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #3C3C3B;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  top: 0;
  position: absolute;
}

#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
  text-align: right;
}

#timeline .timeline-item .timeline-icon {
  background: #3C3C3B;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -10px;
  border-radius: 50%;
}

#timeline .timeline-item .timeline-content {
  width: 45%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#timeline .timeline-item .timeline-content .date {
  display: inline-block;
  color: #FDFDFD;
  background-color: #FFC857;
  padding: 8px;
  border-radius: 0rem;
}

#timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

.skill {
  margin-bottom: 20px;
}

@media (max-width: 991.98px) {
  .sidebar {
    position: static;
    width: 100%;
    padding-left: 65px;
  }
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active {
    border: none;
    outline: none;
  }
  .navbar-toggler i {
    color: #3C3C3B;
  }
  #about,
  #projects,
  #experience,
  #contact,
  #list,
  #single {
    padding: 3rem !important;
  }
  .main-content {
    width: 100%;
    margin-left: 0%;
  }
  .main-content-list {
    width: 100%;
    margin-left: 0%;
  }
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
    text-align: left;
  }
  #timeline .timeline-item .timeline-content:before,
  #timeline .timeline-item .timeline-content .right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */