@import 'mixins';

@include font-face(IBMPlexSans, "../fonts/IBMPlexSans", 400, normal);
@include font-face(IBMPlexSans, "../fonts/IBMPlexSansBold", 700, normal);
@include font-face(Poppins, "../fonts/Poppins", 700, normal);
@include font-face(OrkneyRegular, "../fonts/OrkneyRegular", 400, normal);
@include font-face(ManropeBold, "../fonts/ManropeBold", 700, bold);

$mainFont: 'IBMPlexSans', sans-serif;
$titleFont: 'ManropeBold', serif;
$numberFont: 'ManropeBold', sans-serif;

$fontColor:#FDFDFD;
$fontColorAlt: #3C3C3B;
$cardColor:#FDFDFD;
$pageColor: #FDFDFD;
$sectionColor: #EFEFEF;
$accentColor1: #48E4B7;
$accentColor2: #E84855;
$accentColor3: #FFC857;
$accentColor4: #A14EBF;

$borderRadius: 0rem;
$sectionSpace: 5%;


html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body  {
    background-color: $pageColor;
    color: $fontColorAlt;
}

a,
p,
label,
input,
div {
    font-family: $mainFont;
}

a:hover {
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 35%;
    bottom: 0px;
    z-index: 1;
    width: 35%;
    height: 100%;
    color: $fontColor;

    .main-info * {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0;
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);

        &.bs {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.sidebar-photo {
    background-color: $accentColor1;
}

.sidebar-cover {
    color: $fontColorAlt;
}

.main-content {
    position: relative;
    overflow: visible;
    width: 60%;
    max-width: 1200px;
    margin-left: 35%;
    float: none;
    clear: none;
}

.main-content-list {
    position: relative;
    overflow: visible;
    max-width: 1200px;
    margin-top: 88px;
    float: none;
    clear: none;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont !important;
    text-transform: uppercase;
}

.heading {
    font-size: 2.2rem;
}

h5 {
    font-size: 1.2rem !important;
}

.text-white {
    color: $fontColor;
}

.highlight {
    color: $fontColor;
    background-color: $accentColor1;
    border-radius: $borderRadius;
    padding: 2px 12px;
    line-height: 1.5;
}

.form-control {
    border: none;
    background-color: #e8ebef !important;
}

.btn {
    border-radius: 0px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-dark-faded {
    font-weight: 300;
    font-family: $mainFont !important;

    /*text-transform: uppercase;*/
    background-color: rgba(0, 0, 0, 0.07);
    color: black;
}

.btn-color {
    color: $cardColor;
    background-color: $accentColor1;
    font-weight: 500;
    border-radius: $borderRadius;
}

.number-text {
    font-weight: bold;
    font-family: $numberFont;
}

.social {
    &:hover a {
        color: $fontColorAlt;
    }

    a {
        color: $fontColorAlt;
        font-size: 28px;
        margin-right: 12px;

        &:hover {
            color: $accentColor1;
        }
    }
}

.navbarSocial {
    &:hover a {
        color: $fontColorAlt;
    }

    a {
        font-size: 18px;
        padding: 0 0.5rem;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;

        &:hover {
            color: $accentColor1;
        }
    }
}

.navbarColor {
    z-index: 9000;
    background: rgba($pageColor,0.6);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    
    a {
        color: $fontColorAlt !important;
    }
}


section {
    .heading {
        margin-bottom:  2rem;
    }

    &:last-child{
        margin-bottom: $sectionSpace;
        margin-top: $sectionSpace;
        background-color: $sectionColor;
        border-radius: $borderRadius;
        padding: 4rem;
    }
    
    &#about {
        margin-top: $sectionSpace;
        background-color: $sectionColor;
        border-radius: $borderRadius;
        padding: 4rem;

        .number-text {
            color: $accentColor1;
        }

        a  {
            color: $fontColorAlt;
        }

        a:hover {
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            color: $accentColor1;
        }
    }

    &#projects {
        margin-top: $sectionSpace;
        background-color: $sectionColor;
        border-radius: $borderRadius;
        padding: 4rem;

        .number-text {
            color: $accentColor2;
        }

        .btn-color {
            color: $fontColor;
            background-color: $accentColor2;
            border: 2px $accentColor2 solid;
            
            &:hover {
                color: $accentColor2;
                background: none;
            }
        }

        .separator-short {
            background-color: $accentColor2;
        }
    }

    &#experience {
        margin-top: $sectionSpace;
        background-color: $sectionColor;
        border-radius: $borderRadius;
        padding: 4rem;

        .number-text {
            color: $accentColor3;
        }

        .btn-color {
            color: $fontColor;
            background-color: $accentColor3;
            border: 2px $accentColor3 solid;
            
            &:hover {
                color: $accentColor3;
                background: none;
            }
        }

        .separator-short {
            background-color: $accentColor3;
        }
    }

    &#skills {
        margin-top: $sectionSpace;
        background-color: $sectionColor;
        border-radius: $borderRadius;
        padding: 4rem;

        .number-text {
            color: $accentColor4;
        }
    }

    &#contact,
    &#list{
        margin-top: $sectionSpace;
        background-color: $sectionColor;
        border-radius: $borderRadius;
        padding: 4rem;
    }

    &#single {
        margin-top: $sectionSpace;
        background-color: $sectionColor;
        border-radius: $borderRadius;
        padding: 5rem;
    }
}

.contact-text {
    color: $accentColor1;
}

.card {
    border-radius: $borderRadius;
    background-color: $cardColor;
    color: $fontColorAlt;
    border: none;
    
    img {
        border-radius: $borderRadius $borderRadius 0 0;
    }
}

.cardHorizontal {
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: $cardColor;
    color: $fontColor;
}

.card-img {
    border-radius: 0;
}

.separator-short {
    width: 10%;
    display: block;
    overflow: hidden;
    height: 2px;
    margin: 0 auto;
}

.btn-outline-custom {
    color: $fontColor;
    border-color: $fontColor;

    &:hover {
        color: $fontColor;
        background-color: $accentColor1;
        border-color: $accentColor1;
    }

    &.focus,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    }

    &.active,
    &:active {
        color: $fontColor;
        background-color: $fontColor;
        border-color: $fontColor;
    }
}

.show > .btn-outline-black.dropdown-toggle {
    color: $fontColor;
    background-color: $cardColor;
    border-color: $cardColor;
}

#timeline {
    width: 100%;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:before {
        content: "";
        width: 3px;
        height: 100%;
        background: $fontColorAlt;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        top: 0;
        position: absolute;
    }

    &:after {
        content: "";
        clear: both;
        display: table;
        width: 100%;
    }

    .timeline-item {
        margin-bottom: 50px;
        position: relative;
        text-align: right;

        .timeline-icon {
            background: $fontColorAlt;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 50%;
            overflow: hidden;
            margin-left: -10px;
            border-radius: 50%;
        }

        .timeline-content {
            width: 45%;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;

            .date {
                display: inline-block;
                color: $fontColor;
                background-color: $accentColor3;
                padding: 8px;
                border-radius: $borderRadius;
            }

            &.right {
                float: right;
                text-align: left;
            }
        }
    }
}

.skill {
    margin-bottom: 20px;
}

@media (max-width: 991.98px) {
    .sidebar {
        position: static;
        width: 100%;
        padding-left: 65px;
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active
    {
        border: none;
        outline: none;
    }
    .navbar-toggler i {
        color: $fontColorAlt;;
    }

    &#about,
    &#projects,
    &#experience,
    &#contact,
    &#list,
    &#single {
        padding: 3rem !important;
    }

    .main-content {
        width: 100%;
        margin-left: 0%;
    }

    .main-content-list {
        width: 100%;
        margin-left: 0%;
    }

    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;

        &:before {
            left: 0;
        }

        .timeline-item {
            .timeline-content {
                width: 90%;
                float: right;
                text-align: left;

                &:before,
                .right:before {
                    left: 10%;
                    margin-left: -6px;
                    border-left: 0;
                    border-right: 7px solid #ee4d4d;
                }
            }

            .timeline-icon {
                left: 0;
            }
        }
    }
}
