{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="main-content-list mx-auto">
     <section id="blog">
          <h2 class="text-center mb-4 cardText"><i class="fas fa-newspaper pr-3"></i>{{.Title}}</h2>
          <div class="row px-5">
               {{ range .Pages }}
                    <div class="card mb-3 w-100">
                         <div class="row no-gutters">
                              <div class="col-12 p-3">
                                   <p class="mb-1 accentText font-weight-bold">
                                        <i class="far fa-clock fa-sm"></i>
                                        {{ dateFormat "2 Jan 2006" .Date }} 
                                        {{ if ne .PublishDate .Lastmod }}  | Last updated {{ dateFormat "2 Jan 2006" .Params.Lastmod }} {{ end }}
                                   </p>
                                   <h5 class="mb-0">{{ .Params.title }}</h5>
                                    <p class="card-text">{{ .Params.description }}</p>
                              </div>
                         </div>
                         <div class="px-3 pb-3 mt-auto">
                              <div class="separator-long mb-2"></div>
                              <a href="{{ .Permalink }}" class="stretched-link font-weight-bold">
                                   Read more
                                   <i class="fas fa-chevron-right float-right my-1"></i>
                              </a>
                         </div>
                    </div>
               {{ end }}
          </div>
     </section>
     {{ partial "footer.html" . }}
</div>
{{ partial "footer-scripts.html" . }}