{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="main-content-list mx-auto">
    <section id="single">
        <div class="text-center text-muted">{{.Date.Format "2 Jan 2006"}}</div>
        <h2 class="text-center px-5 mb-4">{{ .Title }}</h2>
        <div class="mb-4">{{ .Content }}</div>
        {{ partial "footer.html" . }}
    </section>
</div>
{{ partial "footer-scripts.html" . }}

<!--
    <div class="text-center text-muted mb-5">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
-->
