{{ partial "header.html" . }}
{{ partial "topbar.html" . }}
<div class="main-content-list mx-auto">
     <section id="list">
          <h2 class="text-center mb-5">{{.Title}}</h2>
          <div class="row justify-content-center text-center">
               {{ range .Pages }}
                    <div class=".col-auto m-2">
                         <div class="card h-100 p-0 d-flex flex-column" style="width: 18rem;">
                              <img src="{{.Site.BaseURL}}images/{{ .Params.previewPicture }}" class="card-img" alt="...">
                              <div class="p-3">
                                   <p class="mb-2 text-muted card-text">{{  .Params.subtitle }}</p>
                                   <h5 class="mb-0">{{ .Params.title }}</h5>
                                   <div class="separator-short my-3"></div>
                                   <p class="card-text">{{ .Params.description }}</p>
                              </div>
                              <a href="{{ .Permalink }}" class="stretched-link btn btn-color mt-auto m-3">Read More</a>
                         </div>
                    </div>
               {{ end }}
          </div>
     </section>
</div>
{{ partial "footer-scripts.html" . }}