<div class="col-12 card mb-3 p-3 w-100">
    <div class="row mb-2">
        <div class="col">
            {{ $category := "categories/blog"}}
            {{ range .Param $category }}
            <a class="blogCategory float-left elevateLink" href="/categories/blog/{{ . | urlize }}"><i
                    class="fas fa-tag fa-xs pr-1" aria-hidden="true"></i> {{ . }}</a>
            {{ end }}
        </div>
        <div class="col">
            <p class="font-weight-bold float-right mb-0">
                {{ dateFormat "02/01/2006" .Date }}
                {{ if ne .PublishDate .Lastmod }} | Last updated {{ dateFormat "02/01/2006"  .Params.Lastmod }} {{ end }}
            </p>
        </div>
    </div>

    <div class="row-12">
        <h5 class="mb-0">{{ .Params.title }}</h5>
        <!--<p class="mb-1 ">{{ .Params.description }}</p>-->
    </div>

    <div class="row mx-0 my-2">
        {{ $tags := "tags/blog"}}
        {{ range .Param $tags }}
        <a class="accentText elevateLink blogTag" href="/tags/blog/{{ . | urlize }}"><i
                class="fas fa-hashtag fa-sm pr-1" aria-hidden="true"></i>{{ . }}</a>
        {{ end }}
    </div>
    <div class="mt-auto">
        <div class="separator-long mb-2"></div>
        <a href="{{ .Permalink }}" class="stretched-link">
            Read more
            <i class="fas fa-chevron-right float-right my-1" aria-hidden="true"></i>
        </a>
    </div>
</div>