{{ $blog := .Site.Data.blog }}

<section id="blog">
    <div class="row">
        <div class="col-8">
            <h2 class="heading"><i class="fas fa-newspaper pr-3"></i>{{ $blog.title }}</h2>
        </div>
        <div class="col-4 text-right">
            <h3 class="btn font-weight-bold"><a href="{{.Site.BaseURL}}blog">View all</a></h3>
        </div>
    </div>
    <div class="separator-long mb-4"></div>
    <div class="row px-5">
        {{ range first 2 ( where .Site.Pages "Section" "blog" ) }}
            <div class="card mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col-12 p-3">
                        <p class="my-1 text-muted">
                            <i class="far fa-calendar-alt pr-1"></i>
                            {{ dateFormat "2 Jan 2006" .Date }} 
                            {{ if ne .PublishDate .Lastmod }}  | Last updated {{ dateFormat "2 Jan 2006" .Params.Lastmod }} {{ end }}
                        </p>
                        <h5>{{ .Params.title }}</h5>
                        <p class="card-text">{{ .Params.description }}</p>
                    </div>
                </div>
                <div class="px-3 pb-3 mt-auto">
                    <div class="separator-long mb-2"></div>
                    <div class="w-100 d-flex flex-row">
                        <a href="{{ .Permalink }}" class="stretched-link font-weight-bold mr-auto">
                            Read more
                        </a>
                        <i class="fas fa-chevron-right my-auto"></i>
                    </div>
               </div>
            </div>
        {{ end }}
   </div>
</section>
