{{ $experience := .Site.Data.experience }}

<section id="experience" >
  <h2 class="heading accentText"><i class="fas fa-user-tie pr-3 mb-4"></i>{{ $experience.title }}</h2>
  <div id="timeline">
    {{ range $index, $element := $experience.experience }}
    <div class="timeline-item clearfix">
    <div class="timeline-icon"></div>
    <div class="timeline-content {{ if eq (mod $index 2) 0 }} right {{ end }}">
      <span class="date">{{ $element.timeperiod }}</span>
      {{ $website := $element.website }}
      </br>
      <a class="font-weight-bold" href="{{ $website }}">{{ $element.company }}</a>
      <!--<i class="fas fa-link fa-sm"></i>-->
      </br>

      {{ $position := $element.position }}
      {{ if $position }}
        <h5 class="mb-0">{{ $position }}</h5>
      {{ end }}

      {{ $grade := $element.grade }}
      {{ if $grade }}
        <a>{{ $grade }}</a>
        <!--<i class="fas fa-award fa-sm"></i>-->
      {{ end }}

      {{ $description := $element.description }}
      {{ if $description }}
        <a>{{ $element.description }}</a>
        <!--<i class="fas fa-briefcase fa-sm"></i>-->
      {{ end }}
    </div>
    </div>
    {{ end }}
  </div>
</section>

<!--
View all button 

<div class="row justify-content-center text-center  px-5 pt-5">
  <a href="{{.Site.BaseURL}}experience" class="btn btn-lg btn-block">View All</a>
  </div>
-->