{{ $experience := .Site.Data.experience }}

<section id="experience" >
  <h2 class="heading"><i class="fas fa-user-tie pr-3"></i>{{ $experience.title }}</h2>
  <div class="separator-long mb-5"></div>
  <div id="timeline">
    {{ range $index, $element := $experience.experience }}
    <div class="timeline-item clearfix">
    <div class="timeline-icon"></div>
    <div class="timeline-content {{ if eq (mod $index 2) 0 }} right {{ end }}">
      <span class="date">{{ $element.timeperiod }}</span>
      {{ $website := $element.website }}
      </br>
        <i class="fas fa-link text-muted pr-1"></i><a class="text-muted" href="{{ $website }}"> {{ $element.company }}</a>
      </br>

      {{ $position := $element.position }}
      {{ if $position }}
        <h5>{{ $position }}</h5>
      {{ end }}

      {{ $grade := $element.grade }}
      {{ if $grade }}
        <i class="fas fa-award text-muted pr-1"></i><a class="text-muted" > {{ $grade }}</a>
      {{ end }}

      {{ $description := $element.description }}
      {{ if $description }}
        <p>{{ $element.description }}</p>
      {{ end }}
    </div>
    </div>
    {{ end }}
  </div>
</section>

<!--
View all button 

<div class="row justify-content-center text-center  px-5 pt-5">
  <a href="{{.Site.BaseURL}}experience" class="btn btn-lg btn-block">View All</a>
  </div>
-->