        <!-- Bundling all of the local js files into one and minifying it -->
        {{ $prism := resources.Get "js/vendor/prism.js" | fingerprint }}
        {{ $jquery := resources.Get "js/vendor/jquery-3.4.1.min.js" | fingerprint }}
        {{ $swiper := resources.Get "js/vendor/swiper.js" | fingerprint }}
        {{ $swiperInit := resources.Get "js/swiperInit.js" | fingerprint }}
        {{ $fancybox := resources.Get "js/vendor/jquery.fancybox.js" | fingerprint }}
        {{ $bootstrap := resources.Get "js/vendor/bootstrap.min.js" | fingerprint }}
        {{ $bundle := slice $prism $jquery $swiper $swiperInit $fancybox $bootstrap | resources.Concat "bundle.js" | minify | fingerprint }}
        <script src="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity}}"></script>
    </body>
</html>