        <script src="{{ .Site.BaseURL }}js/vendor/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <script src="{{ .Site.BaseURL }}js/vendor/swiper.js"></script>
        <script src="{{ .Site.BaseURL }}js/swiperInit.js"></script>
        
        <script src="{{ .Site.BaseURL }}js/vendor/jquery-3.4.1.min.js"></script>
        
        <script src="{{ .Site.BaseURL }}js/vendor/jquery.fancybox.js"></script>

        <script src="{{ .Site.BaseURL }}js/vendor/bootstrap.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/main.js"></script>
    </body>
</html>