<!-- Bundling all of the local js files into one and minifying it -->
{{ $jquery := resources.Get "js/vendor/jquery-3.4.1.min.js"}}
{{ $bootstrap := resources.Get "js/vendor/bootstrap.min.js"}}
{{ $fancybox := resources.Get "js/vendor/jquery.fancybox.js"}}
{{ $jqBootstrapBundle := slice $jquery $bootstrap $fancybox | resources.Concat "jqBootstrapBundle.js" | minify | fingerprint "sha256"}}
<script async src="{{ $jqBootstrapBundle.Permalink }}" integrity="{{ $jqBootstrapBundle.Data.Integrity }}"></script>

{{ $darkMode := resources.Get "js/darkMode.js" | minify | fingerprint "sha256" }}
<script defer src="{{ $darkMode.Permalink }}" integrity="{{ $darkMode.Data.Integrity }}"></script>

{{ $prism := resources.Get "js/vendor/prism.js" | minify | fingerprint "sha256" }}
<script defer src="{{ $prism.Permalink }}" integrity="{{ $prism.Data.Integrity }}"></script>

{{ $swiper := resources.Get "js/vendor/swiper.js"}}
{{ $swiperInit := resources.Get "js/swiperInit.js"}}
{{ $swiperBundle := slice $swiper $swiperInit  | resources.Concat "swiperBundle.js" | minify | fingerprint "sha256"}}
<script defer src="{{ $swiperBundle.Permalink }}" integrity="{{ $swiperBundle.Data.Integrity }}"></script>

</body>
</html>