{{ $config := .Site.Data.config }}

<!DOCTYPE html>
<html lang="en-GB">

<head>
	<title>
			{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
			{{ if .IsHome }}
					{{ .Site.Title }}
			{{ else if .Params.heading }}
					{{ .Params.heading }}
			{{ else }}
					{{ .Title }} | {{ .Site.Title }}
			{{ end }}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bundling all of the local CSS files into one and minifying it -->
	{{ $bootstrap := resources.Get "css/vendor/bootstrap.min.css" | fingerprint }}
	{{ $main := resources.Get "css/styles.css" | fingerprint }}
	{{ $syntax := resources.Get "css/vendor/AtomOneDark.min.css" | fingerprint }}
	{{ $fontawesome := resources.Get "css/vendor/fontawesome-all.min.css" | fingerprint }}
	{{ $styles := slice $bootstrap $main $syntax  $fontawesome | resources.Concat "styles.css" | minify }}
	{{ $secureCSS := $styles | resources.Fingerprint "sha512" }}
	<link rel="stylesheet" href="{{ $secureCSS.Permalink }}" integrity="{{ $secureCSS.Data.Integrity }}"></link>
	
	<!-- Meta tags -->
	<meta name="author" content="{{ $config.author }}">
	<meta name="theme-color" content="#000000">

	{{ range .AlternativeOutputFormats -}}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" />
	{{ end -}}

	{{ partial "seo_schema.html" . }}

</head>
<body class="clearfix">
