{{ $config := .Site.Data.config }}

<!DOCTYPE html>
<html lang="en-GB">

<head>
	<title>
			{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
			{{ if .IsHome }}
				{{ .Site.Title }}
			{{ else if .Params.heading }}
				{{ .Params.heading }}
			{{ else }}
				{{ .Title }} | {{ .Site.Title }}
			{{ end }}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- Including the bootstrap -->
	{{ $bootstrap := resources.Get "css/vendor/bootstrap.min.css" | fingerprint }}
	<link rel="stylesheet" href="{{ $bootstrap.Permalink }}" integrity="{{ $bootstrap.Data.Integrity}}"></link>
	

	<!-- Prism.js Syntax Hightlighting -->
	{{ $prism := resources.Get "css/vendor/prism.css" | minify | fingerprint}}
	<link rel="stylesheet" href="{{ $prism.Permalink }}" integrity="{{ $prism.Data.Integrity}}"></link>

	{{ $prismtheme := resources.Get "css/vendor/prism-atom-dark.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $prismtheme.Permalink }}" integrity="{{ $prismtheme.Data.Integrity}}"></link>
	

	<!-- Font awesome -->
	{{ $fontawesome := resources.Get "css/vendor/fontawesome-all.min.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $fontawesome.Permalink }}" integrity="{{ $fontawesome.Data.Integrity}}"></link>
	

	<!--  Photo scripts -->
	{{ $fancybox := resources.Get "css/vendor/jquery.fancybox.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $fancybox.Permalink }}" integrity="{{ $fancybox.Data.Integrity}}"></link>

	{{ $swiper := resources.Get "css/vendor/swiper.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $swiper.Permalink }}" integrity="{{ $swiper.Data.Integrity}}"></link>
	

	<!--Personal script-->
	{{ $main := resources.Get "css/styles.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $main.Permalink }}" integrity="{{ $main.Data.Integrity}}"></link>


	<!-- Meta tags -->
	<meta name="author" content="{{ $config.author }}">
	<meta name="theme-color" content="#000000">

	{{ range .AlternativeOutputFormats -}}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" />
	{{ end -}}

	{{ partial "seo_schema.html" . }}
	{{ template "_internal/google_analytics.html" . }}
</head>
<body class="clearfix">