{{ $navbar := .Site.Data.navbar }}
{{ $social := .Site.Data.social }}
{{ $socialfas := .Site.Data.socialfas}}
<nav class="navbar navbar-dark navbar-expand-lg navbarColor justify-content-between fixed-top">
    <div class="container-fluid">
            <a href="{{.Site.BaseURL}}" class="navbar-toggler">
                    <i class="fas fa-home"></i>
            </a>
            <div class="navbar-collapse collapse dual-nav w-50 order-1 order-lg-0">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link pl-0 font-weight-bold" href="{{.Site.BaseURL}}">Home <span class="sr-only">Home</span></a></li>
                    <li class="nav-item"><a class="nav-link font-weight-bold" href="{{.Site.BaseURL}}projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link font-weight-bold" href="{{.Site.BaseURL}}blog">Blog</a></li>
                </ul>
            </div>
            <a href="{{.Site.BaseURL}}" class="navbar-brand mx-auto d-block text-center order-0">
                <img src="{{.Site.BaseURL}}images/navbar/{{$navbar.displayPicture}}" width="30" height="30" class="d-inline-block rounded-circle" alt="Damian Korcz Portrait">
            </a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="nav navbar-nav navbarSocial">
                        {{ range $key, $value := $social }}
                        <li class="nav-item"><a target="_blank" href="{{ $value }}" rel="me"><i class="fab fa-{{ $key }}"></i></a></li>
                        {{ end }}
                        
                        {{ range $key, $value := $socialfas }}
                        <li class="nav-item"><a target="_blank" href="{{ $value }}"><i class="fas fa-{{ $key }}"></i></a></li>
                        {{ end }}
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                <i class="fas fa-bars"></i>
            </button>
    </div>
</nav>

<!--
    <li class="nav-item"><a class="nav-link font-weight-bold" href="{{.Site.BaseURL}}experience">Experience</a></li>
-->