<div class="postEnd">
    <div class="separator-long mb-2"></div>
    <div class="row">
        <div class="col-4 my-auto">
                <a class="font-weight-bold"><a class="font-weight-bold" href="{{.Site.BaseURL}}blog"><i class="fas fa-chevron-left my-auto pr-2"></i>Blog posts</a></a>
        </div>
        <div class="col-8 d-flex justify-content-end">
            <a class="my-auto mr-2 font-weight-bold">Share</a>
            {{ partial "shareButtons.html" . }} 
           <!-- {{ partial "buyMeACoffee.html" . }}  --> 
        </div>
    </div>
</div>