<div class="m-3">
    <div class="card h-100 d-flex flex-column" style="width: 18rem;">
        <picture class="noSelect card-img" height="162" width="288">
            <source srcset="{{.Site.BaseURL}}images/{{ .Params.previewPicture }}.webp" type="image/webp">
            <source srcset="{{.Site.BaseURL}}images/{{ .Params.previewPicture }}.jpg" type="image/jpeg">
            <img src="{{.Site.BaseURL}}images/{{ .Params.previewPicture }}.jpg" alt="{{ .Params.title }}">
        </picture>
        <div class="p-3">
            <div class="row m-0 pb-2">
                {{ $category := "categories/projects"}}
                {{ range .Param $category }}
                <a class="blogCategory elevateLink" href="/categories/projects/{{ . | urlize }}"><i
                        class="fas fa-tag fa-xs pr-1" aria-hidden="true"></i>{{ . }}</a>
                {{ end }}
            </div>
            <h5 class="mb-1">{{ .Params.title }}</h5>
            <p class="card-text">{{ .Params.description }}</p>
        </div>
        <div class="px-3 pb-3 mt-auto">
            <div class="separator-long mb-2"></div>
            <a href="{{ .Permalink }}" class="stretched-link ">
                Read more
                <i class="fas fa-chevron-right float-right my-1" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>