{{ $projects := .Site.Data.projects }}

<section id="projects">
    <div class="row mb-2">
        <div class="col-8">
            <h2 class="heading accentText"><i class="fas fa-shapes pr-3"></i>{{ $projects.title }}</h2>
        </div>
        <div class="col-4 text-right">
            <h3 class="btn font-weight-bold"><a href="{{.Site.BaseURL}}projects">Show all</a></h3>
        </div>
    </div>
    <div class="row justify-content-center">
        {{ range first 3 ( where .Site.Pages "Section" "projects" ) }}
          {{ partial "projectCard.html" . }}
        {{ end }}
    </div>
</section>