{{ $projects := .Site.Data.projects }}

<section id="projects">
    <div class="row">
        <div class="col">
            <h2 class="heading"><span class="number-text">01 </span> {{ $projects.title }}</h2>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        {{ range $index, $element := $projects.projects }}
            <div class=".col-auto m-2">
                <div class="card h-100 d-flex flex-column" style="width: 18rem;">
                    <img src="{{.Site.BaseURL}}images/{{ $element.previewPicture }}" class="card-img" alt="...">
                    <div class="p-3">
                        <p class="my-2 text-muted card-text">{{ $element.subtitle }}</p>
                        <h5 class="mb-0">{{ $element.title }}</h5>
                        <div class="separator-short my-3"></div>
                        <p class="card-text">{{ $element.description }}</p>
                    </div>
                    <a href="#" class="stretched-link btn btn-color mt-auto m-3">Read More</a>
                </div>
            </div>
        {{ end }}
    </div>

    <div class="row justify-content-center text-center px-5 pt-5">
            <a href="{{.Site.BaseURL}}projects" class="btn btn-color btn-lg btn-block">View All</a>
    </div>
</section>