<div id="shareButtons">
    <a href="http://www.facebook.com/share.php?u={{ .Permalink }}" title="Share this on Facebook" target="_blank" class="shareFacebook shareButton" >
        <i class="fab fa-facebook-f"></i>
    </a>

    <a href="http://twitter.com/home?status={{ .Permalink }}" title="Share this on Twitter" target="_blank" class="shareTwitter shareButton" >
        <i class="fab fa-twitter"></i>
    </a>

    <a href="https://www.reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" title="Share this on Reddit" target="_blank" class="shareReddit shareButton" >
        <i class="fab fa-reddit-alien"></i>
    </a>

    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" title="Share this on LinkedIn" target="_blank" class="shareLinkedIn shareButton" >
        <i class="fab fa-linkedin"></i>
    </a>

    <a href="mailto:?&body={{ .Permalink }}" title="Share this via Email" target="_blank" class="shareEmail shareButton" >
        <i class="far fa-envelope"></i>
    </a>
</div>


<!--
    <div class="shareLinkedin shareButton" title="Share this on LinkedIn" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary=articleSummary&source=articleSource');">
        <i class="fab fa-linkedin"></i>
    </div>
-->