{{ $skills := .Site.Data.skills }}

<section id="skills">
  <div class="row">
      <div class="col">
          <h2 class="heading accentText"><i class="fas fa-cogs pr-3"></i>{{ $skills.title }}</h2>
      </div>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col-12 p-4">
      <div class="row-12">
        <h3>{{ $skills.languagesTitle }}</h3>
      </div>
      <div class="container" style="max-width: 800px;">
        <div class="row justify-content-center text-center">
            {{ range $index, $element := $skills.languages }}
              <div class="m-2">
                  <div style="width: 7rem;">
                      <img src="{{.Site.BaseURL}}images/skills/{{ $element.icon }}" class="card-img" height="112" width="112" alt="{{ $element.title }}">
                      <div class="p-3">
                          <p class="mb-0 font-weight-bold">{{ $element.title }}</p>
                      </div>
                  </div>
              </div>
            {{ end }}
        </div>
      </div>
    </div>

    <div class="separator-long mb-3"></div>

    <div class="col-12 p-4">
      <div class="row-12">
        <h3>{{ $skills.webTitle }}</h3>
      </div>
      <div class="container" style="max-width: 800px;">
        <div class="row justify-content-center text-center">
          {{ range $index, $element := $skills.web }}
            <div class="m-2">
              <div style="width: 7rem;">
                <img src="{{.Site.BaseURL}}images/skills/{{ $element.icon }}" class="card-img" height="112" width="112" alt="{{ $element.title }}">
                <div class="p-3">
                  <p class="mb-0 font-weight-bold">{{ $element.title }}</p>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    
    <!--

      <div class="separator-long mb-3"></div>
  
      <div class="col-12  p-4">
        <div class="row-12">
          <h3>{{ $skills.toolsTitle }}</h3>
        </div>
        <div class="container" style="max-width: 800px;">
          <div class="row justify-content-center text-center">
            {{ range $index, $element := $skills.tools }}
              <div class="m-2">
                <div style="width: 7rem;">
                  <img src="{{.Site.BaseURL}}images/skills/{{ $element.icon }}" class="card-img" height="112" width="112" alt="{{ $element.title }}">
                  <div class="p-3">
                    <p class="mb-0 font-weight-bold">{{ $element.title }}</p>
                  </div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>

    -->

  </div>
</section>

<!--

        <p>{{ $skills.toolsDescription }}</p>

-->