{{ $name := .Get "name" }}
{{ $src := .Get "src" }}
{{ $thumb := .Get "thumb" }}
{{ $baseURL := .Site.BaseURL }}
<!-- humanized filename without extension -->
{{ $caption :=  $src | replaceRE "\\..*" "" | humanize }}

{{- with .Parent -}}
<div class="swiper-slide">
    <a href="{{ $.Page.Params.imageDir }}{{ $src }}.jpg" data-fancybox="{{ $name }}" data-caption="{{ $caption }}">
        {{ with  $thumb}}
        <picture>
            <source srcset="{{ $.Page.Params.imageDir }}{{ $thumb }}.webp" type="image/webp">
            <source srcset="{{ $.Page.Params.imageDir }}{{ $thumb }}.jpg" type="image/jpeg">
            <img class="mw-100 h-auto" src="{{ $.Page.Params.imageDir }}{{ $thumb }}.jpg" alt="{{ $caption }}">
        </picture>
        {{ else }}
        <picture>
            <source srcset="{{ $.Page.Params.imageDir }}{{ $src }}.webp" type="image/webp">
            <source srcset="{{ $.Page.Params.imageDir }}{{ $src }}.jpg" type="image/jpeg">
            <img class="mw-100 h-auto" src="{{ $.Page.Params.imageDir }}{{ $src }}.jpg" alt="{{ $caption }}">
        </picture>
        {{ end }}
    </a>
</div>
{{- else -}}
<div class="noSelect img-fluid mx-auto d-block text-center my-4">
    <a href="{{ $.Page.Params.imageDir }}{{ $src }}.jpg" data-fancybox>
        {{ with  $thumb}}
        <picture>
            <source srcset="{{ $.Page.Params.imageDir }}{{ $thumb }}.webp" type="image/webp">
            <source srcset="{{ $.Page.Params.imageDir }}{{ $thumb }}.jpg" type="image/jpeg">
            <img class="mw-100 h-auto" src="{{ $.Page.Params.imageDir }}{{ $thumb }}.jpg" alt="{{ $caption }}">
        </picture>
        {{ else }}
        <picture>
            <source srcset="{{ $.Page.Params.imageDir }}{{ $src }}.webp" type="image/webp">
            <source srcset="{{ $.Page.Params.imageDir }}{{ $src }}.jpg" type="image/jpeg">
            <img class="mw-100 h-auto" src="{{ $.Page.Params.imageDir }}{{ $src }}.jpg" alt="{{ $caption }}">
        </picture>
        {{ end }}
    </a>
</div>
{{- end }}