{{- $name := .Get "name" -}}
{{ $baseURL := .Site.BaseURL }}

<!-- Slider main container -->
<div class="swiper-container mb-4">
    <div class="swiper-wrapper">
            {{.Inner}}
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev-custom">
        <i class="fas fa-chevron-left fa-lg" aria-hidden="true"></i>
    </div>
    <div class="swiper-button-next-custom">
        <i class="fas fa-chevron-right fa-lg" aria-hidden="true"></i>
    </div>
</div>